**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    #header{width: 100%;float: left;padding: 15px 0px;}
    .container{
    width: 90%;
    margin: 0 auto;
    }
    .logo-part{ 
        width: 25%;float: left;}
    .logo-part  a img{
        width: 55%;}
    .menu-part{
        width: 50%;
        float: left;
    }
    .menu-part nav{
    margin: 18px 50px;
    }
    .menu-part nav ul{

    }
    .menu-part nav ul li{
    display: inline-block;
    margin: 0px 20px;
    }
    .menu-part nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 20px;
    }
    .search-part
    {width: 25%;
    float: left;
    }
    .search-part input{
    margin: 12px;
    padding: 8px;
    border-radius: 20px;
    border:  2px solid black;
    font-size: 17px;
    }
    .search-part input::placeholder{
        text-align: right;
        font-size: 17px;
    }
    .search-part  i{
    font-size: 25px;
    display: inline-block;
    }
    /*hero part*/
    #hero{
        width: 100%;
        float: left;
        background: url(/css/img/bg.png) no-repeat center;
        background-size: cover;
    }
    .hero-wp{
    width: 50%;
    float: left;
    padding-top: 150px;
    }
    .hero-wp h1{
        color: #00d5b6;
        font-size:30px;
    }
    .hero-wp h2{
    color: white;
    font-size: 50px;
    }
    .hero-wp p{
        max-width: 400px;
        color: white;
        font-size: 18px;
        margin: 50px 0px;
    }
    .hero-wp a button{
    background-color: transparent;
    color: white;
    padding: 10px;
    width: 150px;
    border: 2px solid white;
    border-radius: 20px;
    }
    .image-hero{
    margin-top: 33px;
    }
    .image-hero img{
    width: 70px;
    margin-right: 20px;
    }
   .hero-ip{
        width: 50%;
        float: left;
        text-align: center;
    }
    .hero-ip img{
        width: 60%;
        float: left;
        margin-top: 80px;
    }